In [ ]:
import pandas as pd
import numpy as np

from sklearn import preprocessing, tree
from sklearn.model_selection import cross_val_score
from sklearn.naive_bayes import GaussianNB
from sklearn import neighbors
from sklearn.neural_network import MLPClassifier

%matplotlib inline

In [ ]:
main_df = pd.read_csv("data/CencusIncome.data.txt", header = None)
main_df = main_df.rename(columns={0: 'age', 1: 'workclass', 2: 'fnlwgt', 3: 'education', 4: 'education-num', 5: 'marital-status', 6: 'occupation',7: 'relationship', 8: 'race',9: 'sex', 10: 'capital-gain', 11: 'capital-loss', 12: 'hours-per-week', 13: 'native-country', 14: 'label'})

main_df = main_df[main_df['workclass'] != '?']
main_df = main_df[main_df['marital-status'] != '?']
main_df = main_df[main_df['native-country'] != '?']
main_df = main_df.drop(['fnlwgt'], axis=1)

main_df.head(1000)

In [ ]:
le = preprocessing.LabelEncoder()

for column in main_df.columns.values:
    le.fit(main_df[column])
    main_df[column] = le.transform(main_df[column])

main_df.head()

y = np.array(main_df['label'])
x = np.array(main_df.drop(['label'],1))

In [ ]:
gnb = GaussianNB()

score = cross_val_score(gnb, x, y, cv=10)

print()
for i in range(10):
    print("Fold-" + str(i + 1) + ":", "%0.6f" % score[i])
print()
print("Mean: %0.6f" % score.mean())
print("Accuration: %0.6f (+/- %0.6f)" % (score.mean(), score.std() * 2))

In [ ]:
ID3learn = tree.DecisionTreeClassifier(criterion="entropy")

score = cross_val_score(ID3learn, x, y, cv=10)

print()
for i in range(10):
    print("Fold-" + str(i + 1) + ":", "%0.6f" % score[i])
print()
print("Mean: %0.6f" % score.mean())
print("Accuration: %0.6f (+/- %0.6f)" % (score.mean(), score.std() * 2))

In [ ]:
n_neighbors = 61

KNNlearn = neighbors.KNeighborsClassifier(n_neighbors, weights='uniform')

score = cross_val_score(KNNlearn, x, y, cv=10)

print()
for i in range(10):
    print("Fold-" + str(i + 1) + ":", "%0.6f" % score[i])
print()
print("Mean: %0.6f" % score.mean())
print("Accuration: %0.6f (+/- %0.6f)" % (score.mean(), score.std() * 2))

In [ ]:
MLPlearn = MLPClassifier(solver='lbfgs',hidden_layer_sizes=(5, 2))

score = cross_val_score(MLPlearn, x, y, cv=10)

print()
for i in range(10):
    print("Fold-" + str(i + 1) + ":", "%0.6f" % score[i])
print()
print("Mean: %0.6f" % score.mean())
print("Accuration: %0.2f (+/- %0.6f)" % (score.mean(), score.std() * 2))

In [ ]:
KNNlearn = neighbors.KNeighborsClassifier(n_neighbors, weights='uniform')
KNNlearn.fit(x, y)

In [ ]:
from sklearn.externals import joblib

joblib.dump(KNNlearn, 'KNN.model')

In [3]:
from sklearn.externals import joblib
import pandas as pd

KNNlearn = joblib.load('KNN.model')

test_df = pd.read_csv("data/CencusIncome.test.txt")

test_df = test_df.rename(columns={0: 'age', 1: 'workclass', 2: 'fnlwgt', 3: 'education', 4: 'education-num', 5: 'marital-status', 6: 'occupation',7: 'relationship', 8: 'race',9: 'sex', 10: 'capital-gain', 11: 'capital-loss', 12: 'hours-per-week', 13: 'native-country', 14: 'label'}) 
test_df.columns = ['' * 14] 
print(test_df.columns.values)
test_df.head(10)

['']

25  Private          226802  11th         7   Never-married       Machine-op-inspct  Own-child      Black  Male   0    0 40  United-States   <=50K.
38  Private          89814   HS-grad      9   Married-civ-spouse  Farming-fishing    Husband        White  Male   0    0 50  United-States   <=50K.
28  Local-gov        336951  Assoc-acdm   12  Married-civ-spouse  Protective-serv    Husband        White  Male   0    0 40  United-States    >50K.
44  Private          160323  Some-college 10  Married-civ-spouse  Machine-op-inspct  Husband        Black  Male   7688 0 40  United-States    >50K.
18  ?                103497  Some-college 10  Never-married       ?                  Own-child      White  Female 0    0 30  United-States   <=50K.
34  Private          198693  10th         6   Never-married       Other-service      Not-in-family  White  Male   0    0 30  United-States   <=50K.
29  ?                227026  HS-grad      9   Never-married       ?                  Unmarried      Black  Male   0    0 40  United-States   <=50K.
63  Self-emp-not-inc 104626  Prof-school  15  Married-civ-spouse  Prof-specialty     Husband        White  Male   3103 0 32  United-States    >50K.
24  Private          369667  Some-college 10  Never-married       Other-service      Unmarried      White  Female 0    0 40  United-States   <=50K.
55  Private          104996  7th-8th      4   Married-civ-spouse  Craft-repair       Husband        White  Male   0    0 10  United-States   <=50K.