In [22]:
import pandas as pd
import sklearn
import numpy as np

%matplotlib inline

def string_to_float(s):
    

main_df = pd.read_csv("CencusIncome.data.txt", header = None, delimiter = ",")
main_df = main_df.rename(columns={0: 'age', 1: 'workclass', 2: 'fnlwgt', 3: 'education', 4: 'education-num', 5: 'marital-status', 6: 'occupation',7: 'relationship', 8: 'race',9: 'sex', 10: 'capital-gain', 11: 'capital-loss', 12: 'hours-per-week', 13: 'native-country', 14: 'label'})

y = np.array(main_df['label'])
x = np.array(main_df.drop(['label'],1))

main_df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,label
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [18]:
from sklearn.model_selection import cross_val_score
from sklearn.naive_bayes import GaussianNB

gnb = GaussianNB()

GNBlearn = gnb.fit(x, y)
score = cross_val_score(GNBlearn, x, y, cv=10)

print()
for i in range(10):
    print("Fold-" + str(i + 1) + ":", "%0.2f" % score[i])
print()
print("Mean: %0.2f" % score.mean())
print("Accuration: %0.2f (+/- %0.2f)" % (score.mean(), score.std() * 2))

ValueError: could not convert string to float: 'United-States'